#header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 98px;
  border-bottom: 1px solid #ccc;
}

#header .backgroundGrad {
  position: absolute;
  top: 0;
  width: 100%;
  height: 194px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d1d1f), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, #1d1d1f 0%, rgba(0, 0, 0, 0) 100%);
}

#header .container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#header .container .logo {
  display: inline-block;
  width: 140px;
}

#header .container .logo img {
  display: inline-block;
  padding: 25px 0;
  width: 100%;
}

.NavWrap {
  background: rgba(0, 0, 0, 0.2);
}

.NavWrap .mainNav {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.NavWrap .mainNav li .navName {
  font-size: 20px;
  position: absolute;
  top: -35px;
  color: #fff;
}

.NavWrap .mainNav li:nth-child(1) a {
  left: 166px;
}

.NavWrap .mainNav li:nth-child(2) a {
  left: 256px;
}

.NavWrap .mainNav li:nth-child(3) a {
  left: 345px;
}

.NavWrap .mainNav li:nth-child(4) a {
  right: 347px;
}

.NavWrap .mainNav li:nth-child(5) a {
  right: 241px;
}

.NavWrap .mainNav li:nth-child(6) a {
  right: 150px;
}

.NavWrap .mainNav li .liNav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.NavWrap .mainNav li:nth-child(1) .liNav {
  padding-left: 50px;
}

.NavWrap .mainNav li:nth-child(2) .liNav {
  padding-left: 136px;
}

.NavWrap .mainNav li:nth-child(3) .liNav {
  padding-left: 280px;
}

.NavWrap .mainNav li:nth-child(4) .liNav {
  padding-left: 648px;
}

.NavWrap .mainNav li:nth-child(6) .liNav {
  padding-left: 804px;
}

.liNav {
  display: none;
  height: 44px;
}

.liNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liNav ul li {
  display: inline-block;
  padding: 0 19px;
}

.liNav ul li a {
  height: 44px;
  line-height: 44px;
  color: #fff;
}

.liNav ul li a:hover {
  text-decoration: underline;
}

li.on .liNav {
  display: block;
}

#headSlider {
  position: relative;
  height: 774px;
}

#headSlider .swiper-container {
  height: 100%;
}

#headSlider .swiper-container .swiper-wrapper {
  height: 100%;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
  background: url(../img/slide1.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background: url(../img/slide2.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background: url(../img/slide3.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) {
  background: url(../img/slide4.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) {
  background: url(../img/slide1.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(6) {
  background: url(../img/slide2.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(7) {
  background: url(../img/slide3.jpg) no-repeat center;
}

#headSlider .swiper-container .swiper-wrapper .swiper-slide:nth-child(8) {
  background: url(../img/slide4.jpg) no-repeat center;
}

#headSlider .backgroundGrad.bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 194px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1d1d1f), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #1d1d1f 0%, rgba(0, 0, 0, 0) 100%);
}

#main_section1 {
  height: 880px;
  position: relative;
}

#main_section1 .bg {
  width: 100%;
  position: absolute;
}

#main_section1 .bg .pattern {
  position: absolute;
  z-index: 6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/bg-movie-detail-pattern.png) repeat 0 0;
}

#main_section1 .bg img {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

#main_section1 .bg:before {
  content: '';
  z-index: 4;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#553f05), color-stop(50%, rgba(23, 17, 1, 0)), to(#553f05));
  background: linear-gradient(left, #553f05 0%, rgba(23, 17, 1, 0) 50%, #553f05 100%);
}

#main_section1 .bg::after {
  content: '';
  z-index: 5;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(3, 1, 21, 0.7);
}

#main_section1 .contwrap {
  z-index: 7;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

#main_section1 .contwrap .contTitle {
  margin-bottom: 20px;
  padding-top: 100px;
  position: relative;
  text-align: center;
}

#main_section1 .contwrap .contTitle .boxoffice {
  display: inline-block;
  padding: 5px 0;
  color: #fff;
  font-size: 15px;
  border-bottom: 2px solid #aaa;
}

#main_section1 .contwrap .contTitle .moremovie {
  font-size: 15px;
  color: #aaa;
  position: absolute;
  right: 0;
}

#main_section1 .contwrap .contTitle .moremovie:hover {
  text-decoration: underline;
}

#main_section1 .contwrap .movieCont .movieListWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster {
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 5px;
  width: 245px;
  height: 352px;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster .rank {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.1;
  padding: 10px 0 0 15px;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: url(../img/bg-main-movie-rank.png) no-repeat 0 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster .movieDescWrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster .movieDescWrap .movieDesc {
  font-size: 15px;
  height: 152px;
  color: #fff;
  overflow: hidden;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster .movieDescWrap .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster .movieDescWrap .score span {
  display: inline-block;
  padding: 0 5px;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster .movieDescWrap .score .moviescore {
  font-size: 1.6em;
  color: #59bec9;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .poster:hover .movieDescWrap {
  opacity: 1;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .movieBtnWrap {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .movieBtnWrap .like {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #fff;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .movieBtnWrap .like .heart {
  vertical-align: -2px;
  margin-right: 5px;
  display: inline-block;
  width: 17px;
  height: 15px;
  background-image: url(../img/ico-heart-toggle-main.png);
}

#main_section1 .contwrap .movieCont .movieListWrap .movieList .movieBtnWrap .reservation {
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
  color: #fff;
  border-radius: 5px;
  background: #037b94;
  padding: 8px 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main_section1 .contwrap .movieSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

#main_section1 .contwrap .movieSearch .cell {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_section1 .contwrap .movieSearch .cell .Search {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#main_section1 .contwrap .movieSearch .cell .Search input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  height: 30px;
}

#main_section1 .contwrap .movieSearch .cell .Search a {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
}

#main_section1 .contwrap .movieSearch .cell .Search a i {
  color: rgba(255, 255, 255, 0.7);
}

#main_section1 .contwrap .movieSearch .cell .Search a:hover {
  text-decoration: none;
}

#main_section1 .contwrap .movieSearch .cell:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 1px;
  right: 0;
  top: 20px;
  background: rgba(255, 255, 255, 0.3);
}

#main_section1 .contwrap .movieSearch .cell:last-child:before {
  width: 0;
}

#main_section1 .contwrap .movieSearch .cell a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#main_section1 .contwrap .movieSearch .cell a .ico {
  display: inline-block;
  margin-top: -2px;
  margin-right: 5px;
}

#main_section1 .contwrap .movieSearch .cell a .ico.ico-schedule {
  width: 24px;
  height: 26px;
  background-image: url(../img/ico-schedule-main.png);
}

#main_section1 .contwrap .movieSearch .cell a .ico.ico-boxoffice {
  width: 26px;
  height: 24px;
  background-image: url(../img/ico-boxoffice-main.png);
}

#main_section1 .contwrap .movieSearch .cell a .ico.ico-quick {
  width: 29px;
  height: 25px;
  background-image: url(../img/ico-quick-reserve-main.png);
}

#main_section1 .contwrap .movieSearch .cell a:hover {
  text-decoration: underline;
}

#main_section1 .contwrap .mousemove {
  position: relative;
  margin-top: 30px;
}

#main_section1 .contwrap .mousemove img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 16px;
  height: 24px;
}

#main_section2 {
  position: relative;
  height: 1148px;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 7;
  background: #fff;
}

#main_section2::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 513px;
  bottom: 0;
  background-color: #503396;
}

#main_section2 .wrap {
  width: 1100px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main_section2 .wrap .titwrap {
  padding-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_section2 .wrap .titwrap h2 {
  font-size: 2em;
  color: #351f66 !important;
}

#main_section2 .wrap .titwrap a i {
  font-size: 20px;
  color: #351f66 !important;
}

#main_section2 .menulink {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

#main_section2 .menulink li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

#main_section2 .menulink li a {
  width: 100%;
  display: inline-block;
  padding-top: 60px;
  color: #fff;
}

#main_section2 .menulink .vip a {
  background: url(../img/ico-vip-main.png) no-repeat center 2px;
}

#main_section2 .menulink .membership a {
  background: url(../img/ico-membership-main.png) no-repeat center 2px;
}

#main_section2 .menulink .card a {
  background: url(../img/ico-card-main.png) no-repeat center 2px;
}

#main_section2 .menulink .event a {
  background: url(../img/ico-event-main.png) no-repeat center 2px;
}

#main_section2 .menulink .store a {
  background: url(../img/ico-store-main.png) no-repeat center 2px;
}

#main_section2 .grandopen {
  border-top: 1px solid #5c419d;
  margin-top: 50px;
  position: relative;
  z-index: 8;
}

#main_section2 .grandopen .grandTitle {
  position: absolute;
  left: 0;
  top: 50px;
}

#main_section2 .grandopen .grandTitle span {
  display: block;
  color: #fff;
}

#main_section2 .grandopen .grandTitle strong {
  color: #fff;
  display: block;
  padding: 15px 0 0 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 25px;
}

#main_section2 .grandopen .slidebarwrap {
  position: absolute;
  top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main_section2 .grandopen .slidebarwrap .slidebar {
  margin-top: 10px;
  width: 160px;
  height: 2px;
}

#main_section2 .grandopen .slidebarwrap .slidebar li {
  width: 20px;
  border-bottom: 2px solid #fff;
}

#main_section2 .grandopen .slidebarwrap .control {
  padding: 0 10px 0 15px;
}

#main_section2 .grandopen .slidebarwrap .control a {
  color: #fff;
}

#main_section2 .grandopen .slidebarwrap .page {
  color: #fff;
}

#main_section2 .grandopen .grandslide {
  padding: 50px 0 0 373px;
}

#main_section2 .grandopen .grandslide .circleImg {
  position: relative;
  width: 204px;
  height: 204px;
  background: url(../img/bg-theater-new.jpg);
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#main_section2 .grandopen .grandslide .circleImg .backgroundBack {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#main_section2 .grandopen .grandslide .circleImg .circleInfo {
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 60px;
}

#main_section2 .grandopen .grandslide .circleImg .circleInfo .InfoWrap .label {
  color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 35px;
  background-color: #01738b;
  padding: 3px 13px 4px 13px;
}

#main_section2 .grandopen .grandslide .circleImg .circleInfo .InfoWrap .cont span {
  display: block;
  font-size: 15px;
  padding-top: 15px;
  color: #fff;
}

#main_section2 .grandopen .grandslide .circleImg .circleInfo .InfoWrap .cont strong {
  display: block;
  font-size: 24px;
  padding-top: 8px;
  color: #fff;
  line-height: 1.1;
}

#main_section2 .grandopen .grandslide .circleImg .circleInfo .InfoWrap .date {
  margin-top: 15px;
  color: #fff;
  line-height: 1.1;
}

#main_section2 .grandopen .grandslide .circleImg:hover .backgroundBack {
  background: #fff;
}

#main_section2 .grandopen .grandslide .circleImg:hover .circleInfo .InfoWrap .cont span, #main_section2 .grandopen .grandslide .circleImg:hover .circleInfo .InfoWrap .cont strong, #main_section2 .grandopen .grandslide .circleImg:hover .circleInfo .InfoWrap .date {
  color: #01738b;
}

.Cslide {
  position: relative;
}

.Cslide .cell {
  overflow: hidden;
  height: 325px;
  display: none;
}

.Cslide .cell .contImg1 {
  display: inline-block;
  width: 300px;
  height: 230px;
}

.Cslide .cell .contImg1 img {
  position: relative;
  left: 0;
  top: -100px;
  opacity: 0;
}

.Cslide .cell .contImg2 {
  display: inline-block;
}

.Cslide .cell .contImg2 img {
  position: relative;
  width: 100%;
  left: 150px;
  top: 0;
  opacity: 0;
  display: inline-block;
  width: auto;
}

.slideControl {
  position: absolute;
  bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideControl .slidebar {
  width: 190px;
  height: 2px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideControl .slidebar li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border-bottom: 2px solid #ccc;
}

.slideControl .slidebar li.active {
  border-bottom: 2px solid #503396;
}

.slideControl .control {
  padding: 0 10px 0 15px;
  font-size: 15px;
}

.slideControl .control i {
  color: #503396;
}

.slideControl .page {
  font-size: 15px;
}

.ad {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ad a {
  display: inline-block;
}

.ad .adBox1 {
  width: 441px;
  height: 204px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.ad .adBox2 {
  margin-left: 20px;
  width: 204px;
  height: 204px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.adBox3 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 415px;
  height: 530px;
}

.adBox3 img {
  width: 100%;
}

.adBox3 .ad {
  opacity: .6;
  width: 35px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#main_section3 {
  display: block;
  position: relative;
  z-index: 8;
  min-height: 840px;
  background-color: #252451;
}

#main_section3 .wrap {
  width: 1100px;
  margin: 0 auto;
}

#main_section3 .wrap .curation-area {
  position: relative;
}

#main_section3 .wrap .curation-area .curation-Img {
  position: absolute;
  width: 100%;
  padding: 0;
  padding-left: 20px;
}

#main_section3 .wrap .curation-area .curation-Img .plag {
  position: absolute;
  top: -10px;
  left: 0;
  background: url(../img/bg-bage-curation-film.png) no-repeat center;
  width: 123px;
  height: 135px;
}

#main_section3 .wrap .curation-area .curation-Img .Imgwrap a {
  display: block;
  width: 300px;
  height: 430px;
  border-radius: 15px;
  overflow: hidden;
}

#main_section3 .wrap .curation-area .btn_group {
  margin-top: 10px;
  margin-left: 2px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_section3 .wrap .curation-area .btn_group a {
  color: #fff;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main_section3 .wrap .curation-area .btn_group .left {
  border: 1px solid #fff;
}

#main_section3 .wrap .curation-area .btn_group .right {
  background: #01738b;
}

#main_section3 .wrap .curation-area .infoFilm {
  position: absolute;
  top: 0;
  left: 370px;
  width: calc(100% - 370px);
}

#main_section3 .wrap .curation-area .infoFilm .filmTxt {
  color: #fff;
  display: block;
  padding-bottom: 10px;
  font-size: 1.3333em;
  line-height: 1.1;
}

#main_section3 .wrap .curation-area .infoFilm .filmTit {
  color: #fff;
  display: block;
  padding-bottom: 30px;
  font-size: 2.4em;
  line-height: 1.1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#main_section3 .wrap .curation-area .infoFilm .surmary {
  height: 192px;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: block;
}

#main_section3 .wrap .curation-area .curation-list {
  padding: 310px 0 0 370px;
}

#main_section3 .wrap .curation-area .curation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_section3 .wrap .curation-area .curation-list ul li {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  position: relative;
}

#main_section3 .wrap .curation-area .curation-list ul li a {
  color: #fff;
}

#main_section3 .wrap .curation-area .curation-list ul li a .film {
  position: absolute;
  top: -10px;
  left: 10px;
  background: url(../img/bg-bage-curation-film-m.png) no-repeat center;
  width: 35px;
  height: 50px;
}

#main_section3 .wrap .curation-area .curation-list ul li a .img {
  border-radius: 10px;
  overflow: hidden;
}

#main_section3 .wrap .curation-area .curation-list ul li a .tit {
  font-size: 15px;
  display: block;
  padding-top: 10px;
  text-align: center;
}

#main_section3 .Qtitle {
  padding: 50px 0 40px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_section3 .Qtitle .title {
  color: #fff;
  font-size: 30px;
}

#main_section3 .Qtitle .moreQ {
  margin-top: 5px;
  font-size: 15px;
  color: #aaa;
}

#main_section4 {
  padding-bottom: 50px;
}

#main_section4 .wrap {
  width: 1100px;
  margin: 0 auto;
}

#main_section4 .wrap h2 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.1;
  padding: 50px 0 40px 0;
  color: #351f66;
}

#main_section4 .wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_section4 .wrap ul li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  background: url(../img/bg-main-megainfo-boutique.png) no-repeat;
  background-position: 0 0;
  background-size: 170px 340px;
  margin-right: 20px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#main_section4 .wrap ul li:nth-child(1) a:hover {
  background-position: 0 -170px;
}

#main_section4 .wrap ul li:nth-child(2) a {
  background: url(../img/bg-main-megainfo-mx.png) no-repeat;
  background-position: 0 0;
  background-size: 170px 340px;
}

#main_section4 .wrap ul li:nth-child(2) a:hover {
  background-position: 0 -170px;
}

#main_section4 .wrap ul li:nth-child(3) a {
  background: url(../img/bg-main-megainfo-comfort.png) no-repeat;
  background-position: 0 0;
  background-size: 170px 340px;
}

#main_section4 .wrap ul li:nth-child(3) a:hover {
  background-position: 0 -170px;
}

#main_section4 .wrap ul li:nth-child(4) a {
  background: url(../img/bg-main-megainfo-kids.png) no-repeat;
  background-position: 0 0;
  background-size: 170px 340px;
}

#main_section4 .wrap ul li:nth-child(4) a:hover {
  background-position: 0 -170px;
}

#main_section4 .wrap ul li:nth-child(5) a {
  background: url(../img/bg-main-megainfo-first.png) no-repeat;
  background-position: 0 0;
  background-size: 170px 340px;
}

#main_section4 .wrap ul li:nth-child(5) a:hover {
  background-position: 0 -170px;
}

#main_section4 .wrap ul li:last-child a {
  margin-right: 0;
}

#main_section4 .info_notice {
  margin-top: 50px;
  height: 60px;
  border: 1px solid #e2e2e2;
}

#main_section4 .info_notice .wrap {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 175px 0 95px;
}

#main_section4 .info_notice .tit {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100%;
  font-size: 15px;
  line-height: 60px;
}

#main_section4 .info_notice .link {
  display: inline-block;
  height: 100%;
  line-height: 60px;
}

#main_section4 .info_notice .link a {
  color: #222;
  font-size: 15px;
}

#main_section4 .info_notice .link strong {
  color: #01738b;
}

#main_section4 .info_notice .date {
  line-height: 60px;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 85px;
  top: 0;
  font-size: 15px;
  color: #666;
}

#main_section4 .info_notice .more {
  line-height: 60px;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
}

#main_section4 .info_notice .more a {
  color: #666;
}

#main_section4 .info_link {
  display: block;
  width: 1100px;
  margin: 0 auto;
  padding: 60px 0 40px 0;
}

#main_section4 .info_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_section4 .info_link ul li {
  text-align: center;
  -ms-flex-preferred-size: 16.66%;
      flex-basis: 16.66%;
}

#main_section4 .info_link ul li a {
  display: inline-block;
  color: #222;
}

#main_section4 .info_link ul li a span {
  display: block;
  padding-top: 10px;
  font-size: 15px;
}

#main_section4 .info_link ul li a:hover {
  text-decoration: underline;
}

#main_section4 .info_link ul li i {
  display: block;
  margin: 0 auto;
}

#main_section4 .info_link ul li .infoico-customer {
  width: 46px;
  height: 46px;
  background: url(../img/ico-main-customer.png);
}

#main_section4 .info_link ul li .infoico-faq {
  width: 50px;
  height: 46px;
  background: url(../img/ico-main-faq.png);
}

#main_section4 .info_link ul li .infoico-qna {
  width: 43px;
  height: 43px;
  background: url(../img/ico-main-qna.png);
}

#main_section4 .info_link ul li .infoico-group {
  width: 50px;
  height: 38px;
  background: url(../img/ico-main-group.png);
}

#main_section4 .info_link ul li .infoico-lost {
  width: 51px;
  height: 39px;
  background: url(../img/ico-main-lost.png);
}

#main_section4 .info_link ul li .infoico-boutique {
  width: 48px;
  height: 40px;
  background: url(../img/ico-main-boutique.png);
}

#ad {
  background: #4f79a9;
}

#ad .wrap {
  width: 1100px;
  margin: 0 auto;
}

#ad .wrap a {
  position: relative;
  display: inline-block;
}

#ad .wrap a .ad {
  opacity: .6;
  width: 35px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer {
  height: 200px;
  background: #f8f8fa;
}

#footer .footerTop {
  margin: 0 auto;
  width: 1100px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footerTop ul {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footerTop ul li {
  margin-right: 15px;
}

#footer .footerTop ul li a {
  color: #666;
  height: 100%;
  line-height: 30px;
  display: inline-block;
}

#footer .footerTop ul li a:hover {
  text-decoration: underline;
}

#footer .footerTop .theater {
  color: #666;
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #d8d9db;
  border-radius: 30px;
  text-decoration: none;
}

#footer .footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

#footer .footerBottom img {
  width: 150px;
  height: 50px;
  margin-right: 20px;
}

#footer .footerBottom .footerinfo {
  display: inline-block;
}

#footer .footerBottom .footerinfo div address {
  font-style: normal;
  color: #444;
  display: inline-block;
}

#footer .footerBottom .footerinfo p {
  color: #444;
  display: inline-block;
}

#footer .footerBottom .footerSns {
  position: absolute;
  right: 0;
  top: 0;
}

#footer .footerBottom .footerSns a {
  display: inline-block;
  width: 32px;
  height: 30px;
}

#footer .footerBottom .footerSns i {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#footer .footerBottom .footerSns .twitter {
  background: url(../img/ico-twitter.png);
}

#footer .footerBottom .footerSns .facebook {
  background: url(../img/ico-facebook.png);
}

#footer .footerBottom .footerSns .instagram {
  background: url(../img/ico-instagram.png);
}

#footer .footerBottom .footerSns .googleplay {
  background: url(../img/ico-googleplay.png);
}

#footer .footerBottom .footerSns .appstore {
  background: url(../img/ico-appstore.png);
}

.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.2) !important;
  margin: 3px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.8) !important;
  width: 8px;
  height: 8px;
  border: none;
  margin: 3px !important;
}

.swiper-pagination-bullets {
  left: 500px !important;
}

.controler {
  position: absolute;
  left: calc(50% + 535px);
  bottom: 63px;
  z-index: 10;
}

.controler i {
  font-size: 9px;
  color: #ccc;
}

.controler a.active i {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */