#header{
    
    position: absolute;
    top:0;
    z-index: 100;
    width:100%;
    height: 98px;
    border-bottom: 1px solid #ccc;
    .backgroundGrad{
        position: absolute;
        top :0;
        width:100%;
        height:194px;
        background: linear-gradient(to bottom, rgba(29,29,31,1) 0%,rgba(0,0,0,0) 100%);
    }
    
    .container{
        width:1100px;
        margin: 0 auto;
        position: relative;
        
        text-align: center;
        .logo{
            display: inline-block;
            width:140px;
            img{
                display: inline-block;
                padding:25px 0;
                width:100%;
            }
        }
        
    }
}
.NavWrap{
    background:rgba(0,0,0,0.2);
    .mainNav{
        
        position: relative;
        width:1100px;
        margin : 0 auto;
        li{
            .navName{
                font-size: 20px;
                position: absolute;
                top:-35px;
                color:#fff;
            }
            &:nth-child(1) a{
                left: 166px;
            }
            &:nth-child(2) a{
                left: 256px;
            }
            &:nth-child(3) a{
                left: 345px;
            }
            &:nth-child(4) a{
                right: 347px;
            }
            &:nth-child(5) a{
                right: 241px;
            }
            &:nth-child(6) a{
                right: 150px;
            }
            .liNav{
                
                box-sizing: border-box;
            }
            &:nth-child(1) .liNav{
                padding-left: 50px;
            }
            &:nth-child(2) .liNav{
                padding-left: 136px;
            }
            &:nth-child(3) .liNav{
                padding-left: 280px;
            }
            &:nth-child(4) .liNav{
                padding-left: 648px;
            }
            &:nth-child(6) .liNav{
                padding-left: 904px;
            }
        }
        
    }
}

.liNav{
    display: none;
    height:44px;
    ul{
        display: flex;
        li{
            display: inline-block;
            padding: 0 19px;
            a{
                height:44px;
                line-height: 44px;
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
li.on .liNav{
    display: block;
}





#headSlider{
    position: relative;
    height:774px;
    .swiper-container{
        height:100%;
        .swiper-wrapper{
            height:100%;
            .swiper-slide{
                height:100%;
                &:nth-child(1){
                    background:url(../img/slide1.jpg) no-repeat center;
                }
                &:nth-child(2){
                    background:url(../img/slide2.jpg) no-repeat center;
                }
                &:nth-child(3){
                    background:url(../img/slide3.jpg) no-repeat center;
                }
                &:nth-child(4){
                    background:url(../img/slide4.jpg) no-repeat center;
                }
                &:nth-child(5){
                    background:url(../img/slide1.jpg) no-repeat center;
                }
                &:nth-child(6){
                    background:url(../img/slide2.jpg) no-repeat center;
                }
                &:nth-child(7){
                    background:url(../img/slide3.jpg) no-repeat center;
                }
                &:nth-child(8){
                    background:url(../img/slide4.jpg) no-repeat center;
                }
            }
        }
    }
    .backgroundGrad.bottom{
        position: absolute;
        z-index: 100;
        bottom :0;
        width:100%;
        height:194px;
        background: linear-gradient(to top, rgba(29,29,31,1) 0%,rgba(0,0,0,0) 100%);
    }
}

// 메인 섹션

#main_section1{
    height: 880px;
    position: relative;
    .bg{
        width:100%;
        position: absolute;
        .pattern{
            position: absolute;
            
            z-index: 6;
            left: 0; right: 0;
            top: 0; bottom: 0;
            
            background:url(../img/bg-movie-detail-pattern.png) repeat 0 0;
        }
        img{
            filter: blur(15px);
        }
        &:before{
            content:'';
            
            z-index: 4;
            position: absolute;
            right: 0; left: 0;
            top: 0; bottom:0;
            background: linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
        }
        &::after{
            content:'';
            z-index: 5;
            position: absolute;
            right: 0; left: 0;
            top: 0; bottom:0;
            background: rgba(3,1,21,0.7);
        }
    }
    .contwrap{
        z-index: 7;
        position: relative;
        width: 1100px;
        margin : 0 auto;
        .contTitle{
            margin-bottom:20px; 
            padding-top: 100px;
            position: relative;
            text-align: center;
            .boxoffice{
                display: inline-block;
                padding:5px 0;
                color:#fff;
                font-size: 15px;
                border-bottom : 2px solid #aaa;
            }
            .moremovie{
                font-size: 15px;
                color:#aaa;
                position: absolute;
                right:0; 
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .movieCont{
            .movieListWrap{
                display:flex;
                justify-content: space-between;
                .movieList{
                    .poster{
                        overflow: hidden;
                        position: relative;
                        display: block;
                        border-radius: 5px;
                        width: 245px;
                        height: 352px;
                        .movieDescWrap{
                            position:absolute;
                            left: 0; top: 0;
                            bottom: 0; right: 0;
                            
                            padding:20px;
                            background:rgba(0,0,0,0.85);
                            
                            // z-index:100;
                            opacity: 0;
                            transition: opacity 0.3s;
                            .movieDesc{
                                font-size: 15px;
                                height:152px;
                                color:#fff;
                                overflow: hidden;
                                
                            }
                            .score{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                
                                bottom:20px;
                                left:20px; right: 20px;
                                color:#fff;
                                padding:20px 0;
                                border-top:1px solid #ccc;
                                span{
                                    display: inline-block;
                                    padding:0 5px;
                                }
                                .num{
                                    font-size: 1.6em;
                                    color: #59bec9;
                                }
                            }
                        }
                        &:hover .movieDescWrap{
                            opacity: 1;
                        }
                    }
                   
                    .movieBtnWrap{
                        margin-top: 8px;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        .like{
                            flex-basis:30%;
                            color:#fff;
                            display: inline-block;
                            border: 1px solid rgba(255,255,255,0.3);
                            border-radius: 5px;
                            padding:8px 10px;
                            box-sizing: border-box;
                            .heart{
                                vertical-align: -2px;
                                margin-right: 5px;
                                display: inline-block;
                                width:17px;
                                height:15px;
                                background-image: url(../img/ico-heart-toggle-main.png);
                            }
                        }
                        .reservation{
                            flex-basis:67%;
                            color:#fff;
                            border-radius: 5px;
                            background:rgb(3, 123, 148);
                            padding:8px 10px;
                            display: inline-block;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
        .movieSearch{
            display: flex;
            justify-content: center;
            background:rgba(0,0,0,0.3);
            margin-top:50px;
            .cell{
                flex-basis: 25%;
                justify-content: center;
                //text-align: center;
                padding:20px 0;
                position: relative;
                display: flex;
                align-items: center;
                .Search{
                    position: relative;
                    display: inline-block;
                    padding-right: 30px;
                    border-bottom: 1px solid rgba(255,255,255,0.3);;
                    
                    input{
                        background:none;
                        border: none;
                        outline: none;
                        color:#fff;
                        font-size: 15px;
                        height:30px;
                    }
                    a{
                        position: absolute;
                        right:0; top:0;
                        font-size: 18px;
                        i{
                            color:rgba(255,255,255,0.7);
                        }
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                &:before{
                    content:'';
                    position: absolute;
                    height:30px;
                    width:1px;
                    right:0;
                    top:20px;
                    background:rgba(255,255,255,0.3);
                }
                &:last-child:before{
                    width:0;
                }
                a{
                    display: flex;
                    align-items: center;
                    color:#fff;
                    .ico{
                        display: inline-block;

                        margin-top: -2px;
                        margin-right: 5px;
                    }
                    .ico.ico-schedule{
                        width:24px;
                        height:26px;
                        background-image: url(../img/ico-schedule-main.png);
                    }
                    .ico.ico-boxoffice{
                        width:26px;
                        height:24px;
                        background-image: url(../img/ico-boxoffice-main.png);
                    }
                    .ico.ico-quick{
                        width:29px;
                        height:25px;
                        background-image: url(../img/ico-quick-reserve-main.png);
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            
        }
        .mousemove{
            position: relative;
            margin-top: 30px;
            img{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width:16px;
                height:24px;
            }
        }
    }
}

#main_section2{
    position: relative;
    height: 1148px;
    padding-bottom: 100px;
    box-sizing: border-box;
    z-index: 7;
    background:#fff;
    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 513px;
        bottom: 0;
        background-color: #503396;
    }
    .wrap{
        width:1100px;
        margin: 0 auto;
        //padding: 0 50px;
        box-sizing: border-box;
        .titwrap{
            padding-top:50px;
            position: relative;
            display: flex;
            justify-content: space-between;
            h2{
                font-size: 2em;
                color: #351f66 !important;
            }
            a{
                i{
                    font-size: 20px;
                    color: #351f66 !important;
                }
            }
        }
    }
    .menulink{
        position: relative;
        z-index: 100;
        
        //margin: 0 auto;
        display: flex;
        padding-top: 50px;
        li{
            
            flex-basis:20%;
            text-align: center;
            a{
                width:100%;
                display: inline-block;
                padding-top: 60px;
                color:#fff;
            }
        }
        .vip a{
            background:url(../img/ico-vip-main.png) no-repeat center 2px;
        }
        .membership a{
            background:url(../img/ico-membership-main.png) no-repeat center 2px;
        }
        .card a{
            background:url(../img/ico-card-main.png) no-repeat center 2px;
        }
        .event a{
            background:url(../img/ico-event-main.png) no-repeat center 2px;
        }
        .store a{
            background:url(../img/ico-store-main.png) no-repeat center 2px;
        }
    }
    .grandopen{
        border-top: 1px solid #5c419d;
        margin-top:50px;
        position: relative;
        z-index: 8;
        .grandTitle{
            position: absolute;
            left:0;
            top:50px;
            span{
                display: block;
                color:#fff;
            }
            strong{
                color:#fff;
                display: block;
                padding: 15px 0 0 0;
                font-size: 1.6em;
                font-weight: 700;
                line-height: 25px;
            }
        }
        .slidebarwrap{
            position: absolute;
            top:170px;
            display: flex;
            .slidebar{
                margin-top: 10px;
                width:160px;
                height: 2px;
                li{
                    width:20px;
                    border-bottom: 2px solid #fff;
                }
            }
            .control{
                padding: 0 10px 0 15px;
                a{
                    color:#fff;
                }
            }
            .page{
                color:#fff;
            }
        }
        .grandslide{
            padding: 50px 0 0 373px;
            .circleImg{
                position: relative;
                width:204px;
                height:204px;
                background: url(../img/bg-theater-new.jpg);
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
                .backgroundBack{
                    position: absolute;
                    left:0; top:0; right: 0;
                    bottom: 0;
                    background:rgba(0,0,0,0.5);
                }
                .circleInfo{
                    position: relative;
                    z-index:10;
                    text-align: center;
                    padding-top:60px;
                    .InfoWrap{
                        .label{
                            color:#fff;
                            position: absolute;
                            left:50%;
                            transform: translateX(-50%);
                            top:35px;
                            background-color: #01738b;
                            padding: 3px 13px 4px 13px;
                        }
                        .cont{
                            span{
                                display: block;
                                font-size: 15px;
                                padding-top:15px;
                                color:#fff;

                            }
                            strong{
                                display: block;
                                font-size: 24px;
                                padding-top:8px;
                                color:#fff;
                                line-height: 1.1;
                            }
                        }
                        .date{
                            margin-top:15px;
                            color:#fff;
                            line-height: 1.1;
                        }
                    }
                }
                &:hover .backgroundBack{
                    background:#fff;
                }
                &:hover .circleInfo .InfoWrap .cont span,&:hover .circleInfo .InfoWrap .cont strong,&:hover .circleInfo .InfoWrap .date{
                    color :#01738b;
                }
            }
        }
    }
}

.Cslide{
    position: relative;
    .cell{
        overflow: hidden;
        height:325px;
        display:none;
        .contImg1{
            display: inline-block; 
            width:300px;
            height:230px;
            img{
                position: relative;
                //display: none;
                left: 0; top:-100px;
                
                opacity: 0;
            }
        }
        .contImg2{
            display: inline-block; 
            img{
                //display: none !important;
                position: relative;
                width:100%;
                left:150px; top:0;
                opacity: 0;
                display: inline-block;
                width:auto;
            }
        }
    }
}
.slideControl{
    position: absolute;
    bottom: 42px;
    display: flex;
    .slidebar{
        width:190px;
        height:2px;
        margin-top:10px;
        display:flex;
        li{
            flex-basis: 25%;
            border-bottom: 2px solid #ccc;
        }
        li.active{
            border-bottom: 2px solid #503396;
        }
    }
    .control{
        padding:0 10px 0 15px;
        font-size:15px;
        
        i{
            color: #503396;
        }
    }
    .page{
        font-size: 15px;
    }
}
.ad{
    position: relative;
    z-index: 10;
    display: flex;
    a{
        display: inline-block;
    }
    .adBox1{
        width: 441px;
        height: 204px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .adBox2{
        margin-left: 20px;
        width: 204px;
        height: 204px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
}
.adBox3{
    position: absolute;
    right:0;
    bottom:0;
    width: 415px;
    height: 530px;
    img{
        width:100%;
    }
}

#main_section3{
    display: block;
    position: relative;
    z-index:8;
    min-height: 840px;
    background-color: #252451;
    .wrap{
        width:1100px;
        margin: 0 auto;

        .curation-area{
            position: relative;
            .curation-Img{
                position: absolute;
                width:100%;
                padding: 0;
                padding-left:20px;
                .plag{
                    position: absolute;
                    top:-10px;
                    left:0;
                    background:url(../img/bg-bage-curation-film.png) no-repeat center;
                    width: 123px;
                    height: 135px;
                }
                .Imgwrap{
                    a{
                        display: block;
                        width: 300px;
                        height: 430px;
                        border-radius: 15px;
                        overflow: hidden;
                    }
                }
            }
            .btn_group{
                margin-top:10px;
                margin-left: 2px;
                
                width:300px;
                display: flex;
                justify-content: space-between;
                a{
                    color:#fff;
                    flex-basis: 48%;
                    text-align: center;
                    display: inline-block;
                    border-radius: 4px;
                    font-size: 20px;
                    padding:10px 20px;
                    box-sizing: border-box;
                }
                .left{
                    border: 1px solid #fff;
                    
                }
                .right{
                    background:#01738b;
                }
            }
            .infoFilm{
                position:absolute;
                top:0;
                left:370px;
                width:calc(100% - 370px);
                .filmTxt{
                    color:#fff;
                    display: block;
                    padding-bottom:10px;
                    font-size: 1.3333em;
                    line-height: 1.1;
                }
                .filmTit{
                    color:#fff;
                    display: block;
                    padding-bottom:30px;
                    font-size: 2.4em;
                    line-height: 1.1;
                    border-bottom:1px solid rgba(255, 255, 255, 0.2);
                }
                .surmary{
                    height: 192px;
                    font-size: 15px;
                    line-height: 1.5;
                    color:#fff;
                    display: block;
                    
                }
            }
            .curation-list{
                padding: 310px 0 0 370px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        flex-basis: 24%;
                        position: relative;
                        a{
                            color:#fff;
                            .film{
                                position: absolute;
                                top:-10px;
                                left:10px;
                                background:url(../img/bg-bage-curation-film-m.png) no-repeat center;
                                width: 35px;
                                height: 50px;
                            }
                            .img{
                                border-radius: 10px;
                                overflow: hidden;
                            }
                            .tit{
                                font-size: 15px;
                                display: block;
                                padding-top:10px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .Qtitle{
        padding:50px 0 40px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        .title{
            color:#fff;
            font-size: 30px;
        }
        .moreQ{
            margin-top: 5px;
            font-size: 15px;
            color:#aaa;
        }
    }
}
#main_section4{
    .wrap{
        width:1100px;
        margin: 0 auto;
        h2{
            font-size: 2em;
            font-weight: 400;
            letter-spacing: -1px;
            line-height: 1.1;
            padding:50px 0 40px 0;
            color : #351f66;
        }
        ul{
            display: flex;
            justify-content: center;
            li{
                a{
                    display: inline-block;
                    width:170px;
                    height:170px;
                    border-radius: 10px;
                    background:url(../img/bg-main-megainfo-boutique.png) no-repeat;
                    background-position: 0 0;
                    background-size: 170px 340px;
                    margin-right: 20px;
                    // background-position()
                    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
                }
                &:nth-child(1) a:hover{
                    background-position: 0 -170px;
                }
                &:nth-child(2) a{
                    background:url(../img/bg-main-megainfo-mx.png) no-repeat;
                    background-position: 0 0;
                    background-size: 170px 340px;
                
                }
                &:nth-child(2) a:hover{
                    background-position: 0 -170px;
                
                }
                &:nth-child(3) a{
                    background:url(../img/bg-main-megainfo-comfort.png) no-repeat;
                    background-position: 0 0;
                    background-size: 170px 340px;
                }
                &:nth-child(3) a:hover{
                    background-position: 0 -170px;
                }
                &:nth-child(4) a{
                    background:url(../img/bg-main-megainfo-kids.png) no-repeat;
                    background-position: 0 0;
                    background-size: 170px 340px;
                }
                &:nth-child(4) a:hover{
                    background-position: 0 -170px;
                
                }
                &:nth-child(5) a{
                    background:url(../img/bg-main-megainfo-first.png) no-repeat;
                    background-position: 0 0;
                    background-size: 170px 340px;
                }
                &:nth-child(5) a:hover{
                    background-position: 0 -170px;
                
                }
                &:last-child a{
                    margin-right: 0;
                }
            }
        }
    }
    .info_notice{
       
        margin-top:50px;
        height: 60px;
        border : 1px solid #e2e2e2;
        .wrap{
            width:1100px;
            height: 100%;
            margin:0 auto;
            position: relative;
            box-sizing: border-box;
            padding: 0 175px 0 95px;
        }
        .tit{
            position: absolute;
            left:0; top:0;
            display: inline-block;
            height: 100%;
            font-size: 15px;
            line-height: 60px;
        }
        .link{
            display: inline-block;
            height: 100%;
            line-height: 60px;
            a{
                font-size: 15px;
            }
            strong{
                color: #01738b;
            }
        }
        .date{
            line-height: 60px;
            display: inline-block;
            height: 100%;
            position: absolute;
            right:85px;
            top:0;
            font-size: 15px;
            color: #666;

        }
        .more{
            line-height: 60px;
            display: inline-block;
            height: 100%;
            position: absolute;
            right: 0;
            top:0;
            font-size: 15px;
            
            a{
                color: #666;
            }
        }
    }
    .info_link{
        display: block;
        width: 1100px;
        margin: 0 auto;
        padding: 50px 0;
    }
}